<div class="grid grid-cols-4 gap-4 my-6">
    <div class="p-4 bg-white shadow-md rounded-lg text-center">
      <h3 class="text-lg font-bold text-gray-600">Total Tasks</h3>
      <p class="text-3xl font-bold text-blue-600">{{ totalTasks }}</p>
    </div>
    <div class="p-4 bg-white shadow-md rounded-lg text-center">
      <h3 class="text-lg font-bold text-gray-600">Upcoming Tasks</h3>
      <p class="text-3xl font-bold text-orange-600">{{ upcomingTasks }}</p>
    </div>
    <div class="p-4 bg-white shadow-md rounded-lg text-center">
      <h3 class="text-lg font-bold text-gray-600">Completed Tasks</h3>
      <p class="text-3xl font-bold text-green-600">{{ completedTasks }}</p>
    </div>
  </div>
  <app-task></app-task>