<div class="h-screen bg-white w-64 shadow">
    <div class="p-4 text-xl font-bold text-blue-600">TaskManager</div>
    <nav>
      <ul class="mt-4 space-y-2">
        <li class="flex items-center p-2 hover:bg-gray-200 cursor-pointer" routerLink="dashboard" routerLinkActive="active" >
          <span class="material-icons">dashboard</span>
          <span class="ml-2">Dashboard</span>
        </li>
        <li class="flex items-center p-2 hover:bg-gray-200 cursor-pointer" routerLink="task" routerLinkActive="active" >
          <span class="material-icons">assignment</span>
          <span class="ml-2">Tasks</span>
        </li>
      </ul>
    </nav>
</div>
  